@charset "UTF-8";
/* CSS Document */


body{
	font-family: 'Ubuntu', sans-serif;
	background-color:#FFF;
	
	
}

 .container {
	 width:1027px;
	 background-color:#CCC;
	 margin:auto 0;
	 
 }
 
 .box {
	 margin:auto 0;
	 width:80%;
	 background-color:#666;
	 
 }
 
 
 
 
 #slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}